Repository shahanahmed86/ts-react: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify:fix, yarn lint

.lintstagedrc:

{
  "**/*.{html,css,js,jsx,json,ts,tsx}": "yarn prettify:fix",
  "src/**/*.{ts,tsx}": "yarn lint"
}

refactor: updating linting rules
  .eslintrc
Due: none

refactor: redux implemented
  package.json
  src/App.tsx
  src/app/auth/index.ts
  src/app/auth/reducer.auth.ts
  src/app/auth/slice.auth.ts
  src/app/auth/state.auth.ts
  src/app/hook.store.ts
  src/app/store.ts
  src/app/theme/default/colors.theme.ts
  src/app/theme/default/fonts.theme.ts
  src/app/theme/default/index.ts
  src/app/theme/default/sizes.theme.ts
  src/app/theme/index.ts
  src/app/theme/reducer.theme.ts
  src/app/theme/slice.theme.ts
  src/app/theme/state.theme.ts
  src/app/types.store.ts
  src/components/spacer/index.tsx
  src/components/typography/index.tsx
  src/types/general.type.ts
  src/utils/config.ts
  yarn.lock
Due: yarn prettify:fix, yarn lint

chore: rearrange variables
  src/main.tsx
Due: yarn prettify:fix, yarn lint

style: set font-family to button
  src/components/button/index.tsx
Due: yarn prettify:fix, yarn lint

refactor: separating navigation component
  src/infrastructure/navigators/app.navigator.tsx
  src/infrastructure/navigators/auth.navigator.tsx
  src/infrastructure/navigators/index.tsx
Due: yarn prettify:fix, yarn lint

fix: include .env file to .gitignore
  .gitignore
Due: none

revert: base property
  vite.config.ts
Due: yarn prettify:fix

refactor: separating theme provider
  src/infrastructure/theme/index.tsx
Due: yarn prettify:fix, yarn lint

feat: login page
  src/pages/Login.page.tsx
Due: yarn prettify:fix, yarn lint

refactor: making/separating reusable storage class
  src/services/storage/index.ts
  src/services/storage/local.storage.ts
  src/services/storage/token.storage.ts
Due: yarn prettify:fix, yarn lint

refactor: making/separating network services
  src/hooks/useLoggedIn.hook.ts
  src/services/api/auth.api.ts
  src/services/api/network.api.ts
Due: yarn prettify:fix, yarn lint

chore(commitlint): implement prompt-cli for commitlint
  package.json
  yarn.lock
Due: yarn prettify:fix

chore(env): stricting node/yarn, exclude npm
  package.json
Due: yarn prettify:fix

style: spinner component, index css fixes
  src/App.css
  src/components/spinner/index.tsx
Due: yarn prettify:fix, yarn lint

chore(navigators): making components lazy
  src/infrastructure/navigators/app.navigator.tsx
  src/infrastructure/navigators/auth.navigator.tsx
Due: yarn prettify:fix, yarn lint

refactor(components): refactoring components, and created login's components
  src/pages/Login.page.tsx
  src/pages/home/index.tsx
  src/pages/index.ts
  src/pages/login/components/LeftSide.login.tsx
  src/pages/login/components/RightSide.login.tsx
  src/pages/login/index.tsx
  src/pages/not-found/index.tsx
Due: yarn prettify:fix, yarn lint
